$vue-color: #42b983;
$vue-dark: #338f66;
$dark-default-blue: #2c3e50;

// .book-description {
//     p {
//         margin-bottom: 10px;
//         font-size: larger;
//     }
//     ul {
//         width: 85%;
//         margin: 0 auto;
//         font-size: larger;
//         li {
//             text-align: left;
//             margin-bottom: 10px;
//         }
//     }
// }